<% layout('layouts/baseplate') %>
<%- include('../partials/navigation') -%>
<main class = "col px-5 pl-md-2 pt-2 main">
	<div class = "main-panel table">
		<div class = "p-card">
			<div class = "p-card-body">
				<h1>Fueling Station Web Portal</h1>
				<h4 class = "text-secondary">v4.14.22</h4>
				<hr style = "background-color: rgb(182, 182, 182)"/>

				<h3>Created by</h3>
				<ul>
					<li>John Aldrete</li>
					<li>Ryan Chaknova</li>
					<li>Jake Derouin</li>
					<li>Tyler McCormick</li>
					<li>Michael Metz</li>
				</ul>
			</div>
		</div>
	</div>
</main>