<div>
	<link rel = "stylesheet" href = "/css/signin.css">

	<div class = "signin-body">
		<div class = "text-center">
			<div class = "logo-brand">
				<img class = "mb-4" src = "/images/cu-icon.png" width = "75" alt = "75" alt = "CU logo">
			</div>
			<h1 class = "h3 mb-3 font-weight-normal">Please sign in</h1>
			<form class = "form-signin" method = "get" action = "/dashboard">
				<label for = "inputUsername" class = "sr-only">IdentiKey Username</label>
				<input type = "username" id = "inputUsername" class = "form-control" placeholder = "Buba" required = "" autofocus = "" value = "Buba">
				<br>
				<br>
				<label for = "inputPassword" class = "sr-only">IdentiKey Password</label>
				<input type = "password" id = "inputPassword" class = "form-control" placeholder = "********8" required = "" value = "111111111"/>
				<div class = "checkbox mb-3">
					<label>
						<input type = "checkbox" value = "remember-me"> Remember me
					</label>
				</div>
				<button class = "signin-btn" type = "submit" FORMMETHOD = "get">Sign in</button>
				<p class = "mt-5 mb-3 text-muted"></p>
			</form>
		</div>
	</div>
</div>
