<% layout('layouts/baseplate') %>
<!-- WELCOME TERMINAL -->
<div class = "splash_background"><!-- background-->
	<div class = "splash_overlay">
		<div class = "splash_content">
			<h1 class = "splash_title">Fueling Station</h1>
			<h2 class = "splash_subheading">
				<span>CU </span>
<!--				<span class = "cu-icon"></span>-->
				<span> Boulder</span>
			</h2>
			<div class = "splash_Links">
				<!--
							  <a href="/login" class="button">LOGIN</a>&lt;!&ndash; TODO: bypass for development  &ndash;&gt;
				-->
				<a href = "/login" class = "button">LOGIN</a>
				<span></span>
				<a href = "/register" class = "button">REGISTER</a>
			</div>
		</div>
	</div>
</div><!-- /background-->
