<footer class = "footer">
		<div class = "d-sm-flex justify-content-center justify-content-sm-between py-2">
			<!--Copyright-->
			<span class = "text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href = "" target = "_blank" rel = "noopener noreferrer"> </a></span>
			<!--Contact public*-->
			<a href = "https://www.colorado.edu/" target = "_blank"> <img src = '/images/cu-boulder-logo-text-white.svg' width="200"  alt = ""></a>
		</div>
</footer>
